/* para el css de switches */
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 5px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/* fin de css de switches */
.modal-header-personalizado{    
    background-color: #4db6ac !important;
    color: #FEF9F9;
}

.navPersonalizado{    
    background-color: #e0e0e0 !important;
    color: #bdbdbd !important;
}
.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  /* background-color: transparent; */
  /* border: 0 !important; */
  color: #151313 !important;
  font-weight: 500;
}
.loader{
  border:  16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin{
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}
/* img .bordeMesa {border:1px solid #f57c00 !important;} */

.bordeMesaOcupada 
{
    border: 3px solid #f57c00;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* estilos tabla de productos en tomar orden */

/* #tablaItemProductos { overflow-y: auto; height: 350px;} */
/* #tablaItemProductos thead th { background:#37474f ; color: #f3f3f3; } */

/* table #tablaItemProductos { border-collapse: collapse; width: 100%;} */

#invoice-POS{
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
  padding:2mm;
  margin: 0 auto;
  width: 95%;
  background: #FEF9F9;

}

.mesaOrdenLibre{
  background-color: #e0e0e0 !important;
}
.mesaOrdenOcupada{
  background-color: #f0ad4e !important;
}
.product {
    border:#CCCCCC 1px solid;
}
/* Estilos nuevo carousel */
.carousel-control     		 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -16.7%; }
	.carousel-inner .next        { left:  16.7%; }
	.carousel-inner .prev		 { left: -16.7%; }	
}

/* Estilo img productos por categoria */
.productosWell {
  width: 125px;
  height: auto;
}
.invisible-scrollbar::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}


/******************  sliderProductos//owl-carousel ******************/
.slideProductos{
    background: #fff;
    margin: 0 15px;
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
    margin-bottom:2em;
}
.slideProductos .post-img{
    position:relative;
}
.slideProductos .over-layer{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity:0;
    cursor: pointer;
    transition: all 0.30s ease 0s;
}
.slideProductos:hover .over-layer{
    opacity:1;
}
.slideProductos .over-layer:after{
    content: "+";
    font-size: 52px;
    color: #fff;
    position: absolute;
    top: 31%;
    left:42%;
}
.slideProductos .post-img img{
    width: 100%;
    height: auto;
}
.slideProductos .post-title{
    margin:0 0 15px 0;
    padding:0 15px;
}
/* .slideProductos .post-title:before{
    content:"";
    border:2px solid #e67e22;
    width:18%;
    display: block;
    margin-bottom:15px;
} */
.slideProductos .post-title a{
    font-size: 20px;
    font-weight:bold;
    color:#333;
    display: inline-block;
    text-transform:capitalize;
    transition: all 0.3s ease 0s;
}
.slideProductos .post-title a:hover{
    text-decoration: none;
    color:#e67e22;
}
.slideProductos .post-date{
    text-transform:capitalize;
    padding:0 15px;
    color:#E67E22;
    font-size:13px;
}
.slideProductos .post-date:before{
    margin-right: 7px;
    color:#e67e22;
}
/*.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #e67e22;
}*/
/*
.owl-theme .owl-controls .owl-page span{
    width: 52px;
    height:5px;
    border-radius: 0;
    opacity: 0.5;
    margin-bottom: 0;
}*/

/* 
.thumbnail p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
} */

/* .tablaProductos {border-collapse:collapse; table-layout:fixed; width:100%;} */
/* .tablaProductos td { width:20%; word-wrap:break-word;} */
.btnC {
    padding: 5px, 5px, 5px, 5px !important;
    font-size: 20px !important;
    /* border-radius: 10px; */
}
.btnTiempo {
    padding: 5px, 5px, 5px, 5px !important;
    font-size: 1em !important;
}