/* para el css de switches */
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 5px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/* fin de css de switches */
.modal-header-personalizado{    
    background-color: #4db6ac !important;
    color: #FEF9F9;
}

.navPersonalizado{    
    background-color: #e0e0e0 !important;
    color: #bdbdbd !important;
}
.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  /* background-color: transparent; */
  /* border: 0 !important; */
  color: #151313 !important;
  font-weight: 500;
}
.loader{
  border:  16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin{
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}
/* img .bordeMesa {border:1px solid #f57c00 !important;} */

.bordeMesaOcupada 
{
    border: 3px solid #f57c00;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* estilos tabla de productos en tomar orden */

#tablaItemProductos { overflow-y: auto; height: 350px;
    
  }
#tablaItemProductos thead th { /*position: sticky; top: 0; */ background:#37474f ; color: #f3f3f3; }

/* Just common table stuff. Really. */
table #tablaItemProductos { border-collapse: collapse; width: 100%;
  
}

#invoice-POS{
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
  padding:2mm;
  margin: 0 auto;
  width: 95%;
  background: #FEF9F9;

}
